@-webkit-keyframes Mail_showWord__3g6Zm {
  0% {
    -webkit-clip-path: inset(0 100% 0 0);
    clip-path: inset(0 100% 0 0);
  }
  to {
    -webkit-clip-path: inset(0);
    clip-path: inset(0);
  }
}
@keyframes Mail_showWord__3g6Zm {
  0% {
    -webkit-clip-path: inset(0 100% 0 0);
    clip-path: inset(0 100% 0 0);
  }
  to {
    -webkit-clip-path: inset(0);
    clip-path: inset(0);
  }
}
@-webkit-keyframes Mail_fadeUp__hBbPR {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes Mail_fadeUp__hBbPR {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes Mail_fadeIn__1-NQC {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes Mail_fadeIn__1-NQC {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes Angle_showWord__OZE2f {
  0% {
    -webkit-clip-path: inset(0 100% 0 0);
    clip-path: inset(0 100% 0 0);
  }
  to {
    -webkit-clip-path: inset(0);
    clip-path: inset(0);
  }
}
@keyframes Angle_showWord__OZE2f {
  0% {
    -webkit-clip-path: inset(0 100% 0 0);
    clip-path: inset(0 100% 0 0);
  }
  to {
    -webkit-clip-path: inset(0);
    clip-path: inset(0);
  }
}
@-webkit-keyframes Angle_fadeUp__3N7vW {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes Angle_fadeUp__3N7vW {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes Angle_fadeIn__R-33B {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes Angle_fadeIn__R-33B {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes HamburgerButton_showWord__1oRzS {
  0% {
    -webkit-clip-path: inset(0 100% 0 0);
    clip-path: inset(0 100% 0 0);
  }
  to {
    -webkit-clip-path: inset(0);
    clip-path: inset(0);
  }
}
@keyframes HamburgerButton_showWord__1oRzS {
  0% {
    -webkit-clip-path: inset(0 100% 0 0);
    clip-path: inset(0 100% 0 0);
  }
  to {
    -webkit-clip-path: inset(0);
    clip-path: inset(0);
  }
}
@-webkit-keyframes HamburgerButton_fadeUp__-kCV8 {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes HamburgerButton_fadeUp__-kCV8 {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes HamburgerButton_fadeIn__4Pz__ {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes HamburgerButton_fadeIn__4Pz__ {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.HamburgerButton_component__1rN0B {
  position: relative;
  z-index: 11000;
  display: block;
  width: 6.5104166667vw;
  height: 4.1666666667vw;
  cursor: pointer;
}
@media (min-width: 48em) {
  .HamburgerButton_component__1rN0B {
    width: 45px;
    height: 30px;
  }
}
.HamburgerButton_component__1rN0B:after,
.HamburgerButton_component__1rN0B:before,
.HamburgerButton_component__1rN0B span {
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 0.2604166667vw;
  background-color: #fff;
  -webkit-transition: -webkit-transform 0.25s ease 0s;
  transition: -webkit-transform 0.25s ease 0s;
  transition: transform 0.25s ease 0s;
  transition: transform 0.25s ease 0s, -webkit-transform 0.25s ease 0s;
}
@media (min-width: 48em) {
  .HamburgerButton_component__1rN0B:after,
  .HamburgerButton_component__1rN0B:before,
  .HamburgerButton_component__1rN0B span {
    height: 4px;
  }
}
.HamburgerButton_component__1rN0B span {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.HamburgerButton_component__1rN0B:after,
.HamburgerButton_component__1rN0B:before {
  content: '';
}
.HamburgerButton_component__1rN0B:before {
  top: 0;
  -webkit-transform-origin: left top;
  transform-origin: left top;
}
.HamburgerButton_component__1rN0B:after {
  bottom: 0;
  -webkit-transform-origin: left bottom;
  transform-origin: left bottom;
}
.HamburgerButton_component__1rN0B.HamburgerButton_is-active__2bX2C span {
  -webkit-transform: translateY(-50%) scaleX(0);
  transform: translateY(-50%) scaleX(0);
}
.HamburgerButton_component__1rN0B.HamburgerButton_is-active__2bX2C:before {
  -webkit-transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg);
}
.HamburgerButton_component__1rN0B.HamburgerButton_is-active__2bX2C:after {
  -webkit-transform: translateY(50%) rotate(-45deg);
  transform: translateY(50%) rotate(-45deg);
}
@-webkit-keyframes Header_showWord__1f3Rc {
  0% {
    -webkit-clip-path: inset(0 100% 0 0);
    clip-path: inset(0 100% 0 0);
  }
  to {
    -webkit-clip-path: inset(0);
    clip-path: inset(0);
  }
}
@keyframes Header_showWord__1f3Rc {
  0% {
    -webkit-clip-path: inset(0 100% 0 0);
    clip-path: inset(0 100% 0 0);
  }
  to {
    -webkit-clip-path: inset(0);
    clip-path: inset(0);
  }
}
@-webkit-keyframes Header_fadeUp__3EpOF {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes Header_fadeUp__3EpOF {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes Header_fadeIn__-TsPw {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes Header_fadeIn__-TsPw {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.Header_component__FyEta {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
  -webkit-transition: -webkit-transform 0.25s ease 0s;
  transition: -webkit-transform 0.25s ease 0s;
  transition: transform 0.25s ease 0s;
  transition: transform 0.25s ease 0s, -webkit-transform 0.25s ease 0s;
}
.Header_component__FyEta.Header_is-hide__1BSCI {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
.Header_component__FyEta.Header_is-hide__1BSCI
  .Header_component__navigation__2Hni8 {
  top: auto;
  bottom: 0;
}
.Header_component__FyEta.Header_is-change__2svef
  .Header_component__inner__3EgcM {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#1e2888),
    to(#06717e)
  );
  background-image: linear-gradient(90deg, #1e2888, #06717e);
}
@media (min-width: 48em) {
  .Header_component__FyEta.Header_is-change__2svef
    .Header_component__inner__3EgcM {
    background: transparent;
  }
}
.Header_component__inner__3EgcM {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 2.4739583333vw 5.2083333333vw 2.734375vw 4.4270833333vw;
  -webkit-transition: background 0.25s ease 0s;
  transition: background 0.25s ease 0s;
}
@media (min-width: 48em) {
  .Header_component__inner__3EgcM {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 0 0 0 90px;
  }
}
.Header_component__logo__1mTYK {
  position: relative;
  z-index: 11000;
}
@media (min-width: 48em) {
  .Header_component__logo__1mTYK {
    margin-top: 17px;
  }
}
.Header_component__logo__1mTYK a {
  display: inline-block;
  cursor: pointer;
}
.Header_component__logo__1mTYK a svg {
  width: 31.5104166667vw;
}
@media (min-width: 48em) {
  .Header_component__logo__1mTYK a svg {
    width: 225px;
  }
}
.Header_navigation__xHDz3 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: rgba(0, 7, 34, 0.9);
  -webkit-transform: translateY(-110%);
  transform: translateY(-110%);
  -webkit-transition: -webkit-transform 0.25s ease 0s;
  transition: -webkit-transform 0.25s ease 0s;
  transition: transform 0.25s ease 0s;
  transition: transform 0.25s ease 0s, -webkit-transform 0.25s ease 0s;
}
@media (min-width: 48em) {
  .Header_navigation__xHDz3 {
    position: relative;
    width: auto;
    height: auto;
    overflow: visible;
    background: transparent;
    -webkit-transform: none;
    transform: none;
    -webkit-transition: none;
    transition: none;
  }
}
.Header_navigation__xHDz3.Header_is-active__1-jSI {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
@media (min-width: 48em) {
  .Header_navigation__xHDz3.Header_is-active__1-jSI {
    -webkit-transform: none;
    transform: none;
  }
}
.Header_navigation__list__1jRwy {
  height: 100%;
  padding: 6.5104166667vw 13.0208333333vw;
}
@media (min-width: 48em) {
  .Header_navigation__list__1jRwy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
  }
  .Header_navigation__item__30Oht:hover > .Header_navigation__children__1kANb {
    visibility: visible;
    opacity: 1;
  }
}
.Header_navigation__children__1kANb {
  margin-top: -1.3020833333vw;
}
@media (min-width: 48em) {
  .Header_navigation__children__1kANb {
    position: absolute;
    bottom: 0;
    left: 20px;
    margin-top: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: 0.25s ease 0s;
    transition: 0.25s ease 0s;
  }
  .Header_navigation__children__1kANb li:not(:last-child) {
    margin-bottom: 1px;
  }
}
.Header_navigation__children__1kANb li .Header_link__1fsUO {
  position: relative;
  display: block;
  padding: 1.8229166667vw 0 1.8229166667vw 4.6875vw;
  cursor: pointer;
}
@media (min-width: 48em) {
  .Header_navigation__children__1kANb li .Header_link__1fsUO {
    padding: 24px 56px 24px 57px;
    background-color: rgba(0, 7, 34, 0.9);
    -webkit-transition: background 0.25s ease 0s;
    transition: background 0.25s ease 0s;
  }
  .Header_navigation__children__1kANb li .Header_link__1fsUO:hover {
    background-color: rgba(30, 40, 136, 0.9);
  }
}
.Header_navigation__children__1kANb li .Header_link__1fsUO:before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 2.6041666667vw;
  height: 0.2604166667vw;
  background-color: #fff;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  content: '';
}
@media (min-width: 48em) {
  .Header_navigation__children__1kANb li .Header_link__1fsUO:before {
    left: 23px;
    width: 20px;
    height: 1px;
  }
}
.Header_navigation__children__1kANb li .Header_link__1fsUO:after {
  content: none;
}
.Header_navigation__children__1kANb li .Header_link__title__2sCkW {
  font-size: 2.6041666667vw;
  line-height: 1.5;
  color: #fff;
  font-weight: 500;
}
@media (min-width: 48em) {
  .Header_navigation__children__1kANb li .Header_link__title__2sCkW {
    font-size: 1.6rem;
    line-height: 1.875;
  }
}
.Header_navigation__contact__1hvrN {
  margin-top: 11.1979166667vw;
}
@media (min-width: 48em) {
  .Header_navigation__contact__1hvrN {
    margin-top: 0;
    margin-left: 8px;
  }
}
.Header_navigation__contact__1hvrN a {
  font-size: 3.90625vw;
  line-height: 1;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 4.8177083333vw 0;
  color: #1e2888;
  font-weight: 500;
  font-family: Poppins, sans-serif;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#eceda2),
    to(#baecca)
  );
  background-image: linear-gradient(180deg, #eceda2, #baecca);
  cursor: pointer;
  -webkit-transition: background 0.25s ease 0s;
  transition: background 0.25s ease 0s;
}
@media (min-width: 48em) {
  .Header_navigation__contact__1hvrN a {
    font-size: 2rem;
    line-height: 1.1;
    padding: 28px 54px 30px 59px;
  }
}
.Header_navigation__contact__1hvrN a svg {
  display: block;
  width: 5.2083333333vw;
  height: 3.90625vw;
}
@media (min-width: 48em) {
  .Header_navigation__contact__1hvrN a svg {
    width: 27px;
    height: 20px;
  }
}
.Header_navigation__contact__1hvrN a svg:not(:last-child) {
  margin-right: 2.6041666667vw;
}
@media (min-width: 48em) {
  .Header_navigation__contact__1hvrN a svg:not(:last-child) {
    margin-right: 14px;
  }
  .Header_navigation__contact__1hvrN a:hover {
    background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#eceda2),
      color-stop(70%, #baecca)
    );
    background-image: linear-gradient(180deg, #eceda2, #baecca 70%);
  }
  .Header_navigation__contact__1hvrN a:hover:before {
    opacity: 0.3;
  }
  .Header_navigation__contact__1hvrN a:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    -webkit-transition: opacity 0.25s ease 0s;
    transition: opacity 0.25s ease 0s;
    content: '';
  }
}
.Header_link__1fsUO {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}
@media (min-width: 48em) {
  .Header_link__1fsUO {
    padding: 28px 25px;
  }
}
.Header_link__title__2sCkW {
  font-size: 5.2083333333vw;
  line-height: 3.15;
  color: #fff;
  font-weight: 500;
  font-family: Poppins, sans-serif;
}
@media (min-width: 48em) {
  .Header_link__title__2sCkW {
    font-size: 2rem;
    line-height: 1.1;
  }
}
.Header_link__title__2sCkW:not(:last-child) {
  margin-right: 3.125vw;
}
@media (min-width: 48em) {
  .Header_link__title__2sCkW:not(:last-child) {
    margin-right: 0;
  }
}
.Header_link__sub-title__DivjO {
  font-size: 2.6041666667vw;
  line-height: 1.5;
  color: #fff;
  font-weight: 500;
}
@media (min-width: 48em) {
  .Header_link__sub-title__DivjO {
    font-size: 2rem;
    line-height: 1.5;
  }
  .Header_link__icon__1yhu_ {
    width: 11px;
    margin-left: 10px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .Header_link__1fsUO:after {
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: 80%;
    height: 2px;
    background-color: #fff;
    -webkit-transform: translateX(-50%) scaleX(0);
    transform: translateX(-50%) scaleX(0);
    -webkit-transition: -webkit-transform 0.25s ease 0s;
    transition: -webkit-transform 0.25s ease 0s;
    transition: transform 0.25s ease 0s;
    transition: transform 0.25s ease 0s, -webkit-transform 0.25s ease 0s;
    content: '';
  }
  .Header_link__1fsUO:hover:after {
    -webkit-transform: translateX(-50%) scaleX(1);
    transform: translateX(-50%) scaleX(1);
  }
}
@-webkit-keyframes Footer_showWord__1n5BT {
  0% {
    -webkit-clip-path: inset(0 100% 0 0);
    clip-path: inset(0 100% 0 0);
  }
  to {
    -webkit-clip-path: inset(0);
    clip-path: inset(0);
  }
}
@keyframes Footer_showWord__1n5BT {
  0% {
    -webkit-clip-path: inset(0 100% 0 0);
    clip-path: inset(0 100% 0 0);
  }
  to {
    -webkit-clip-path: inset(0);
    clip-path: inset(0);
  }
}
@-webkit-keyframes Footer_fadeUp__JSNH- {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes Footer_fadeUp__JSNH- {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes Footer_fadeIn__MlaND {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes Footer_fadeIn__MlaND {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.Footer_component__WM1DC {
  position: relative;
  width: 100%;
  background-color: #1e2888;
}
.Footer_component__inner__2IbdX {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 6.5104166667vw 0 4.5572916667vw;
}
@media (min-width: 48em) {
  .Footer_component__inner__2IbdX {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 44px 66px 48px;
  }
}
.Footer_component__copyright__1CGVE {
  font-size: 2.6041666667vw;
  line-height: 1;
  color: #fff;
  font-weight: 300;
  font-family: Poppins, sans-serif;
}
@media (min-width: 48em) {
  .Footer_component__copyright__1CGVE {
    font-size: 1.2rem;
    line-height: 1;
  }
  .Footer_component__navigation__2EpTJ {
    position: absolute;
    top: 50%;
    right: 66px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
.Footer_component__socials__25W9O {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.Footer_social__3pHvW {
  margin-bottom: 6.5104166667vw;
}
@media (min-width: 48em) {
  .Footer_social__3pHvW {
    margin-bottom: 0;
  }
}
.Footer_social__item__cy_mh:not(:last-child) {
  margin-right: 3.6458333333vw;
}
@media (min-width: 48em) {
  .Footer_social__item__cy_mh:not(:last-child) {
    margin-right: 28px;
  }
}
.Footer_social__link__-H5vn {
  display: block;
}
.Footer_social__link__-H5vn:hover .Footer_social__icon__3zsHZ path {
  -webkit-transition: fill 0.25s ease 0s;
  transition: fill 0.25s ease 0s;
}
@media (min-width: 48em) {
  .Footer_social__link__-H5vn:hover .Footer_social__icon__3zsHZ path {
    fill: rgba(255, 255, 255, 0.6);
  }
}
.Footer_social__icon__3zsHZ.Footer_is-twitter__1RJTQ {
  width: 4.6875vw;
}
@media (min-width: 48em) {
  .Footer_social__icon__3zsHZ.Footer_is-twitter__1RJTQ {
    width: 36px;
  }
}
.Footer_social__icon__3zsHZ.Footer_is-facebook__1gskm {
  width: 3.7760416667vw;
}
@media (min-width: 48em) {
  .Footer_social__icon__3zsHZ.Footer_is-facebook__1gskm {
    width: 29px;
  }
}
@-webkit-keyframes RoundButton_showWord__3m-9- {
  0% {
    -webkit-clip-path: inset(0 100% 0 0);
    clip-path: inset(0 100% 0 0);
  }
  to {
    -webkit-clip-path: inset(0);
    clip-path: inset(0);
  }
}
@keyframes RoundButton_showWord__3m-9- {
  0% {
    -webkit-clip-path: inset(0 100% 0 0);
    clip-path: inset(0 100% 0 0);
  }
  to {
    -webkit-clip-path: inset(0);
    clip-path: inset(0);
  }
}
@-webkit-keyframes RoundButton_fadeUp__32jGt {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes RoundButton_fadeUp__32jGt {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes RoundButton_fadeIn__1xaEz {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes RoundButton_fadeIn__1xaEz {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.RoundButton_component__2oNt8 {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 3.90625vw 11.71875vw;
  overflow: hidden;
  background-image: linear-gradient(-10deg, #06717e 40%, #1e2888);
  border-radius: 6.5104166667vw;
  -webkit-transition: 0.25s ease 0s;
  transition: 0.25s ease 0s;
  -webkit-transition-property: background, border;
  transition-property: background, border;
}
@media (min-width: 48em) {
  .RoundButton_component__2oNt8 {
    padding: 26.5px 89px;
    border-radius: 37.5px;
  }
}
.RoundButton_component__2oNt8:before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(-10deg, #06717e 20%, #1e2888 80%);
  border-radius: 6.5104166667vw;
  opacity: 1;
  -webkit-transition: opacity 0.8s ease-in 0s;
  transition: opacity 0.8s ease-in 0s;
  content: '';
}
@media (min-width: 48em) {
  .RoundButton_component__2oNt8:before {
    border-radius: 37.5px;
  }
}
.RoundButton_component__2oNt8:disabled,
.RoundButton_component__2oNt8[data-disabled='true'] {
  cursor: inherit;
}
.RoundButton_component__2oNt8:disabled:hover__text,
.RoundButton_component__2oNt8[data-disabled='true']:hover__text {
  color: #fff;
}
@media (min-width: 48em) {
  .RoundButton_component__2oNt8:disabled:hover:before,
  .RoundButton_component__2oNt8[data-disabled='true']:hover:before {
    opacity: 1;
  }
  .RoundButton_component__2oNt8:hover:before {
    opacity: 0;
  }
  .RoundButton_component__2oNt8:hover .RoundButton_component__text__1uK-C {
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
  }
  .RoundButton_component__2oNt8:hover
    .RoundButton_component__icon__zUYq2:before {
    -webkit-animation: RoundButton_growUp__1-WOJ 1.5s
      cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
    animation: RoundButton_growUp__1-WOJ 1.5s
      cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
  }
  .RoundButton_component__2oNt8:hover
    .RoundButton_component__icon__zUYq2:after {
    -webkit-transform: translateY(-50%) scaleX(0.7);
    transform: translateY(-50%) scaleX(0.7);
  }
}
.RoundButton_component__text__1uK-C {
  font-size: 3.125vw;
  line-height: 1.375;
  position: relative;
  z-index: 1;
  color: #fff;
  font-weight: 300;
  font-family: Poppins, sans-serif;
  letter-spacing: 0.1rem;
  -webkit-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}
@media (min-width: 48em) {
  .RoundButton_component__text__1uK-C {
    font-size: 1.6rem;
    line-height: 1.375;
  }
}
.RoundButton_component__icon__zUYq2 {
  position: absolute;
  right: 2.8645833333vw;
  z-index: 1;
  width: 5.2083333333vw;
  height: 5.2083333333vw;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.25s ease 0s;
  transition: -webkit-transform 0.25s ease 0s;
  transition: transform 0.25s ease 0s;
  transition: transform 0.25s ease 0s, -webkit-transform 0.25s ease 0s;
}
@media (min-width: 48em) {
  .RoundButton_component__icon__zUYq2 {
    right: 18px;
    width: 40px;
    height: 40px;
  }
}
.RoundButton_component__icon__zUYq2:after,
.RoundButton_component__icon__zUYq2:before {
  position: absolute;
  top: 50%;
  background-color: #fff;
  content: '';
}
.RoundButton_component__icon__zUYq2:before {
  left: 50%;
  width: 1.3020833333vw;
  height: 1.3020833333vw;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media (min-width: 48em) {
  .RoundButton_component__icon__zUYq2:before {
    width: 10px;
    height: 10px;
  }
}
.RoundButton_component__icon__zUYq2:after {
  right: 50%;
  width: 6.5104166667vw;
  height: 0.2604166667vw;
  border-radius: 50%;
  -webkit-transform: translateY(-50%) scaleX(1);
  transform: translateY(-50%) scaleX(1);
  -webkit-transform-origin: right center;
  transform-origin: right center;
  -webkit-transition: -webkit-transform 0.8s ease 0s;
  transition: -webkit-transform 0.8s ease 0s;
  transition: transform 0.8s ease 0s;
  transition: transform 0.8s ease 0s, -webkit-transform 0.8s ease 0s;
}
@media (min-width: 48em) {
  .RoundButton_component__icon__zUYq2:after {
    width: 50px;
    height: 1px;
  }
}
@-webkit-keyframes RoundButton_growUp__1-WOJ {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  to {
    -webkit-transform: translate(-50%, -50%) scale(4);
    transform: translate(-50%, -50%) scale(4);
    opacity: 0;
  }
}
@keyframes RoundButton_growUp__1-WOJ {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  to {
    -webkit-transform: translate(-50%, -50%) scale(4);
    transform: translate(-50%, -50%) scale(4);
    opacity: 0;
  }
}
