.component {
  $this: #{&};

  color: var(--text-color);
  text-align: center;

  &__symbol {
    display: inline-block;
    width: mod_vw(105);

    @include mq() {
      width: 105px;
    }

    &:not(:last-child) {
      margin-bottom: mod_vw(50);

      @include mq() {
        margin-bottom: 50px;
      }
    }
  }

  &__title {
    @include typo(60, 60, 60, 60);

    color: var(--text-color);
    font-weight: 200;
    font-family: 'Poppins', sans-serif;
  }
}
